#menu {
	list-style: none;
	border: 1px solid #ef7408;
	border-radius: 5px;
	padding: 1px;
	background-color: #222;
	color: #fff;
	position: fixed;
	top: 8%;
	left: 3%;
	cursor: pointer;
	height: 70px;
	width: auto;
	margin-left: 0px;
}
#menu ul {
	display: none;
	position: absolute;
	list-style: none;
	color: #fff;
	margin-left: -56px;
	margin-top: 25px;
	transition: all .5s;
}
#menu li {
	float: left;
	margin: 30px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: -5px;
	background-color: #111;
	color: #fff;
	border: 1px solid #ef7408;
	border-radius: 5px;
	padding: 15px;
	width: 180px;
}

#menu ul li {
	float: none;
	background-color: #111;
	color: #fff;
	width: 180px;
	margin-bottom: 2px;
	margin-left: 0px;
	margin-top: -10px;
	margin-bottom: 10px;
}

#menu ul li li {
	margin-left: -5px;
	padding: 15px;
	width: 180px;
}

#menu ul ul {
	display: none;
	margin-left: 160px;
	margin-top: -25px;
}

#menu li:hover > ul {
	display: block;
	transition: all 0.5s;
}

#menu li:hover {
	background-color: #ef7408;
	border: 1px solid #222;
	transition: all 0.5s;
	
}
